<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,200},{185,194}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{185,194}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,238},{191,196}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{191,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,436},{197,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{197,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,634},{203,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{203,198}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall05.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,777},{211,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{211,198}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,202},{215,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{215,198}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{221,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{221,200}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{221,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{221,198}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{221,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{221,198}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{219,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{219,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{219,196}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{219,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{221,196}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall13.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{221,196}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,579},{213,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{213,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall15.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,202},{203,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{203,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>fall16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,200},{195,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{195,196}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,839},{157,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{157,200}}</string>
                <key>sourceSize</key>
                <string>{207,200}</string>
            </dict>
            <key>jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,402},{175,215}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{175,215}}</string>
                <key>sourceSize</key>
                <string>{207,215}</string>
            </dict>
            <key>jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{191,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{191,234}}</string>
                <key>sourceSize</key>
                <string>{207,234}</string>
            </dict>
            <key>jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,250}}</string>
                <key>sourceSize</key>
                <string>{207,250}</string>
            </dict>
            <key>jump05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{201,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{201,225}}</string>
                <key>sourceSize</key>
                <string>{207,225}</string>
            </dict>
            <key>jump06.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,200},{193,201}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{193,201}}</string>
                <key>sourceSize</key>
                <string>{207,201}</string>
            </dict>
            <key>jump07.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,407},{167,201}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{167,201}}</string>
                <key>sourceSize</key>
                <string>{207,201}</string>
            </dict>
            <key>jump08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,200},{159,200}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{159,200}}</string>
                <key>sourceSize</key>
                <string>{207,200}</string>
            </dict>
            <key>slide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,403},{152,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,198}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,398},{152,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{152,196}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,396},{150,194}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,194}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,705},{146,190}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{146,190}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,557},{146,192}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{146,192}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,598},{148,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{148,192}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,402},{150,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{150,194}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,396},{150,194}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,194}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,552},{150,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{150,196}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>slide9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,592},{150,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{150,196}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,851},{143,184}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,184}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,704},{145,188}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,188}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,853},{143,190}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,190}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,576},{143,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{143,192}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,721},{139,192}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{139,192}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,862},{137,190}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{137,190}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,792},{143,188}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{143,188}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,790},{147,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,188}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1559,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f0a20119a4b924fc5f7949660d2d870:94edeb288b9f0849d4091f9af49faed4:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
