<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainframe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>mainframe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{20,13}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>mainframe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{20,13}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>mainframe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{20,13}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image_jumppad.png</string>
            <key>size</key>
            <string>{24,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8304650cce27b4a7150583189e0eb566:187c138a0e37f40957a6e6238e70500b:73fd980ecf36db05b8d156c630a3f35c$</string>
            <key>textureFileName</key>
            <string>image_jumppad.png</string>
        </dict>
    </dict>
</plist>
